/* normalize.css */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  margin: 0;
  font-family: "Cera Pro", sans-serif;
  background: #ffffff;
  color: #3d3d3d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: normal;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
  border: none;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 53px;
  margin-top: 25px;
  border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
  display: flex;
  justify-content: space-between;
}
header .logo {
  width: 150px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo span {
  color: #46a358;
  font-weight: 800;
  letter-spacing: 0.06em;
}
header ul {
  display: flex;
}
header ul li {
  margin-right: 50px;
}
header ul li a {
  color: #3d3d3d;
}
header .acc {
  display: flex;
}
header .acc .basket {
  width: 29px;
  height: 24px;
  margin-right: 30px;
  position: relative;
  margin-top: 4px;
}
header .acc .basket .basket-item {
  width: 12px;
  height: 12px;
  background-color: #46a358;
  color: #ffffff;
  border-radius: 50%;
  position: absolute;
  bottom: 40%;
  right: 0;
  font-size: 9px;
  display: flex;
  justify-content: center;
}
header .acc .log {
  width: 100px;
  height: 35px;
  background-color: #46a358;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}
header .acc .log img {
  margin-right: 6px;
}

.slide {
  width: 100%;
  height: 450px;
  background: linear-gradient(97.77deg, rgba(245, 245, 245, 0.5) -23.46%, rgba(245, 245, 245, 0.5) 107.51%);
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 0 17px 40px;
  margin-top: 12px;
}
.slide .slide-title {
  max-width: 560px;
  width: 100%;
  height: 297px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  margin-top: 68px;
}
.slide .slide-title span {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.slide .slide-title h1 {
  font-weight: 900;
  font-size: 70px;
  line-height: 70px;
  text-transform: uppercase;
}
.slide .slide-title h1 span {
  color: #46a358;
  font-weight: 900;
  font-size: 70px;
  line-height: 70px;
  text-transform: uppercase;
  letter-spacing: 0.01em;
}
.slide .slide-title p {
  font-size: 14px;
  line-height: 24px;
  color: #727272;
}
.slide .slide-title button {
  width: 140px;
  height: 40px;
  background-color: #46a358;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 6px;
}
.slide .slide-img {
  height: 100%;
  padding-bottom: 15px;
}
.slide .slide-img img {
  width: 450px;
  height: 450px;
}
.slide .slide-indicator {
  max-width: 40px;
  width: 100%;
  height: 8px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  left: 50%;
  margin-bottom: 17px;
}
.slide .slide-indicator .indicator {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgba(70, 163, 88, 0.3);
}
.slide .slide-indicator .indicator:nth-child(2) {
  background-color: #46a358;
}

.container {
  width: 100%;
  height: 1490px;
  display: flex;
}
.container .panel {
  width: 310px;
  height: 1244px;
}
.container .panel .panel-choice {
  width: 310px;
  height: 774px;
  display: flex;
  flex-direction: column;
}
.container .panel .banner {
  width: 310px;
  height: 470px;
}
.container .panel .banner img {
  width: 100%;
  height: 100%;
}
.container .content {
  max-width: 1190px;
  width: 100%;
  height: 1370px;
}

@font-face {
  font-family: "Cera Pro";
  src: url("./fonts/Cera_Pro_Medium.ttf");
  font-style: normal;
}

/*# sourceMappingURL=style.css.map */
